table {
    border-collapse: collapse;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 1px solid #FF77CD;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    
}
button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
}

@keyframes show-gif {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
.cell img {
    animation-name: show-gif;
    animation-duration: 1s;
    animation-iteration-count: 1;
    width: 100px;
    height: 100px;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
        color: #FF77CD;
        font-size: 38px;

}
  
p {
    font-family: 'Londrina Shadow', cursive;
        color: #FF77CD;
        font-size: 26px;
}

#winning-image {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button-reset {
    background-color: #FF77CD;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Londrina Shadow', cursive;
    cursor: pointer;


}

.button-reset:hover {
    background-color: #E066A7;
}




